@media (max-width: 479px) {
	.logo {
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 34px;
		line-height: 34px;
		position: relative;
		background: url(../img/logo.png) right 2px no-repeat;
		background-size: 40px 29px;
		padding: 0 58px 0 0;
		transition: all ease 0.3s;
		color: #adafb2;
		width: 265px;
		display: block;
		margin: 0 auto;
	}
	
	.main-navigation {
		text-align: center;
	}
	
	.main-navigation li:last-child a:last-child {
		background: none!important;
		padding: inherit!important;
		border: 0px solid #66cc64;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.main-navigation li:last-child a:last-child:hover {
		background: none!important;
		transition: all ease 0.3s;
	}
	
	.main-navigation li:last-child a {
		margin:0 5px;
	}
	
	.main-section-one {
		padding: 50px 0 0 0;
	}

	.vertical-center {
		min-height: 650px;  /* Fallback for vh unit */
	}

	.vertical-center .main-section-one {
		padding: 110px 0 0 0;
	}

	.main-section-one h1 {
		font-size: 30px;
		line-height:40px;
		margin: 0 20px;
	}

	.main-section-one h1 span {
		display: block;
	}

	.main-section-one h2 {
		text-align: center;
		font-family: 'Conv_FuturaExtended', 'Roboto', sans-serif;
		font-size: 24px;
		line-height: 34px;
		color: #37474f;
		margin: 20px 0 0 0;
	}
	
	.main-section-one-input-group {
		position: relative;
		margin: 30px 0 20px;
		text-align: center;
	}
	
	.main-section-one-input-group input {
		display: block;
		margin: 0 auto;
		width: 90%;
		font-size: 19px;
		line-height: 50px;
	}
	
	.main-section-one-input-group button {
		display: block;
		width: 90%;
		margin: 20px auto 0;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}

	.main-section-two {
		margin: 30px 0 30px;
	}
	
	.main-section-two h3 {
		margin: 0 10px 20px;
		font-size: 40px;
	}

	.main-section-two .red-button {
		margin: 0 auto;
		width: 82%;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}
	
	.main-how-box {
		color: #546e7a;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		text-align: center;
		min-width: 210px;
		max-width: 450px;
		padding: 0;
		margin: 0 auto 10px;
		position: relative;
	}

	.main-how-box strong {
		width: 50px;
		height: 50px;
		margin: 0 15px 20px 20px;
		float: left;
		text-align: center;
		font-size: 30px;
		line-height: 50px;
	}

	.main-how-box p {
		text-align: left;
		margin: 0px 10px;
		padding: 12px 0 0 0;
		font-size: 20px;
		line-height: 23px;
	}
	
	.main-how-box:nth-child(1) p {
		padding: 3px 0 0 0;
	}
	
	.main-how-box:nth-child(2) p {
		padding: 0;
	}
	
	.main-section-two .main-how-box:nth-child(1), .main-section-two .main-how-box:nth-child(2), .main-section-two .main-how-box:nth-child(3) {
		background: none;
	}
	
	.main-section-three {
		background: #26a4db;
		position: relative;
		padding: 35px 0 0px;
	}

	.main-section-three h3 {
		margin: 0;
		font-size: 35px;
		line-height: 42px;
	}
	
	.main-section-three .main-help-box:nth-child(1) {
		background: url(../img/main-help-box-border-vertical.png) center top no-repeat;
	}
	
	.main-section-three .main-help-box:nth-child(2) {
		background: url(../img/main-help-box-border-vertical.png) center top no-repeat, url(../img/main-help-box-border-vertical.png) center bottom no-repeat;
	}
	
	.main-help-box {
		min-height: inherit;
		padding: 20px 10px 20px;
	}
	
	.main-help-box:nth-child(3) {
		padding-bottom: 0;
	}

	.main-help-box h4 {
		margin: 0 0 15px 0;
		padding: 0;
		text-align: center;
		font-size: 25px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.main-section-three .main-help-box:nth-child(1) h4, .main-section-three .main-help-box:nth-child(2) h4, .main-section-three .main-help-box:nth-child(3) h4 {
		background: none;
	}
	
	.main-help-box p {
		padding: 0 10px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 400;
	}

	.main-section-four {
		position: relative;
		padding: 20px 0 0;
	}

	.main-section-four h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 35px;
		line-height: 42px;
		color: #546e7a;
		text-align: center;
	}
	
	.main-whom-box {
		position: relative;
		padding: 0 10px;
		margin: 0 0 30px 0;
		min-height: 115px;
		border-left: 5px solid #26a4db;
	}

	.main-section-four .main-whom-box:nth-child(1) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(2) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(3) {
		background: none;
		margin-bottom: 10px;
	}

	.main-whom-box h4 {
		margin: 0 0 5px 0;
		color: #455a64;
		font-size: 24px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-whom-box p {
		margin: 0;
		color: #546e7a;
		font-size: 19px;
		font-family: 'Conv_FuturaBookC', 'Roboto', sans-serif;
	}
	
	.main-section-four .red-button {
		margin: -10px auto 0;
		width: 82%;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}
	
	.main-section-five {
		position: relative;
		padding:30px 0 0;
	}

	.main-section-five h3 {
		margin: 0 0 0px 0;
		font-size: 35px;
		line-height: 42px;
	}

	.main-beginners-box {
		position: relative;
		color: #FFF;
		margin-bottom: 30px;
	}
	
	.main-beginners-box h4 {
		text-align: center;
		margin: 0 0 15px 0;
		font-size: 30px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-beginners-box ul li {
		position: relative;
		display: block;
		min-height: 92px;
		padding: 15px 0 0 82px;
		margin: 0 0 10px 0;
		font-size: 19px;
		line-height: 21px;
	}
	
	.main-section-five .main-beginners-box ul li:nth-child(1), .main-section-five .main-beginners-box ul li:nth-child(2), .main-section-five .main-beginners-box ul li:nth-child(3), .main-section-five .main-beginners-box ul li:nth-child(4), .main-section-five .main-beginners-box ul li:nth-child(5) {
		background-size: 72px;
		background-position: 0px 30%;
	}
		
	.main-professionals-box h4 {
		text-align: center;
		margin: 0 0 15px 0;
		font-size: 30px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-professionals-box h4 span {
		margin: 5px 0 0 0;
		display: block;
		font-size: 26px;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	.main-professionals-benefit-title {
		font-size: 30px;
	}
	
	.main-professionals-benefit:nth-child(3) .main-professionals-benefit-reports i {
		width: 35%;
	}

	.main-professionals-benefit:nth-child(4) .main-professionals-benefit-reports i {
		width: 20%;
	}

	.main-section-five .red-button {
		margin: -50px auto 0;
		width: 82%;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}
	
	.main-section-six {
		position: relative;
		padding: 30px 0 0;
	}

	.main-section-six h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		line-height: 42px;
		color: #546e7a;
		text-align: center;
	}

	.main-reviews {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-reviews-name {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.main-reviews-name span {
		color: #78909c;
	}

	.main-reviews p {
		font-size: 21px;
		line-height: 25px;
	}

	.main-section-six .red-button {
		margin: -10px auto;
		width: 82%;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}
		
	.main-section-seven {
		padding: 30px 0 20px;
	}

	.main-section-seven h3 {
		padding: 30px 0;
		margin: 0 0 30px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #FFF;
		text-align: center;
		background: #26a4db;
	}

	.main-faq {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-faq-question {
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		position: relative;
		color: #26a4db;
		font-size: 22px;
	}

	.main-faq-answer {
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
		position: relative;
		color: #455a64;
		font-size: 17px;
	}

	.main-faq-answer p {
		margin: 0 0 0 30px;
	}

	.main-section-seven .red-button {
		width: 82%;
		line-height: 40px;
		font-size: 19px;
		text-transform: none;
	}
	
	/* Content Page */
	
	.vertical-center {
		min-height: 600px;  /* Fallback for vh unit */
	}

	.content-section-one {
		padding: 40px 0 20px;
	}
	
	.vertical-center .content-section-one {
		padding: 240px 0 20px;
	}

	.content-section-one h1 {
		margin: 80px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.content-section-one h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}

	.content-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	/* Content Page End*/

/*
	.main-section-one-light {
		height: 100%;
	}

	.main-section-one-light h1 {
		margin: 80px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.main-section-one-light h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}

	.main-section-one-light p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
*/
	
	/* Price Page */
	.price-section-one {
		background: #1aa4d1;
		position: relative;
		padding: 40px 0 20px;
	}

	.price-section-one h1 {
		margin: 80px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.price-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	
	.monthly-plans h3 {
		margin: 0 0 10px;
	}

	.monthly-plans p {
		margin: 0 0 15px;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
		color: #455a64;
	}
	
	.monthly-plans-table {
		margin: 40px auto 0;
		font-family: 'Conv_FuturaExtended', sans-serif;
	}

	.monthly-plans-table thead tr th {
		border-bottom: none;
		padding: 10px 5px 15px;
		letter-spacing: -1px;
		color: #70631d;
		text-align: center;
		text-transform: uppercase;
		font-size: 19px;
		line-height: 27px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.monthly-plans-table thead tr th span {
		display: block;
		font-size: 21px;
	}

	.monthly-plans-table thead tr th span u {
		display: block;
		font-style: normal;
		font-family: 'Conv_FuturaExtended', sans-serif;
		font-weight: 400;
		text-transform: lowercase;
		font-size: 15px;
		letter-spacing: 0px;
		text-decoration: none;
		line-height: 14px;
	}

	.monthly-plans-table thead tr th span i {
		display: none;
	}
	
	.monthly-plans-table thead tr th:nth-child(2) {
		background: #fff176;
	}

	.monthly-plans-table thead tr th:nth-child(3) {
		background: #ffeb3b;
	}

	.monthly-plans-table thead tr th:nth-child(4) {
		background: #fdd835;
	}

	.monthly-plans-table tbody tr td {
		border: none;
		padding: 15px 10px;
		font-size: 17px;
		line-height: 19px;
		text-align: center;
		vertical-align: middle;
	}

	.monthly-plans-table thead tr th:nth-child(1) {
		display: none;
	}
	
	.monthly-plans-table tbody tr td:nth-child(1) {
		display: none;
	}
	
	.monthly-plans-table tfoot tr td:nth-child(1) {
		display: none;
	}
	
	.monthly-plans-table tfoot tr td {
		vertical-align: middle;
	}
	
	.monthly-plans-table tfoot tr td a {
		display: block;
		background: #ffa800;
		border: 1px solid #ffb21e;
		color: #FFF;
		padding: 10px 5px;
		width: inherit;
		font-size: 15px;

		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	.monthly-plans-table tfoot tr td a span {
		display: none;
	}
		
	.quote-holder {
		position: relative;
		margin: 50px 0 0px;
	}

	.quote-holder p {
		font-size: 19px;
		line-height: 25px;
		color: #455a64;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	#quote-carousel .carousel-control {
		top: 20%;
	}
	
	#quote-carousel .carousel-indicators {
		top: 110%;
	}
	
	#quote-carousel .carousel-inner {
		margin: 0 20px;
	}


	/* Price Page End */
	
}

@media (min-width: 480px) and (max-width: 767px) {
	.logo {
		margin: 0 auto 10px;
	}
	
	.main-navigation {
		text-align: center;
	}
	
	.main-navigation li:last-child a:last-child {
		background: none!important;
		padding: inherit!important;
		border: 0px solid #66cc64;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.main-navigation li:last-child a:last-child:hover {
		background: none!important;
		transition: all ease 0.3s;
	}
	
	.vertical-center {
		min-height: 700px;
	}

	.main-section-one {
		padding: 80px 0 0 0;
	}

	.vertical-center .main-section-one {
		padding: 180px 0 0 0;
	}

	.main-section-one h1 {
		font-size: 40px;
		line-height: 50px;
		margin: 0 10px;
	}

	.vertical-center .main-section-one h1 {
		margin: 0 20px;
	}

	.main-section-one h1 span {
		display: block;
	}

	.main-section-one h2 {
		text-align: center;
		font-family: 'Conv_FuturaExtended', 'Roboto', sans-serif;
		font-size: 30px;
		color: #37474f;
		margin: 20px 20px 0 0;
	}
	
	.main-section-one-input-group {
		position: relative;
		margin: 70px 0 50px;
		text-align: center;
	}
	
	.vertical-center .main-section-one-input-group {
		position: relative;
		margin: 25px 0 50px;
		text-align: center;
	}
	
	.main-section-one-input-group input {
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	
	.main-section-one-input-group button {
		display: block;
		width: 90%;
		margin: 20px auto 0;
		line-height: 50px;
		font-size: 19px;
	}

	.main-section-two {
		margin: 30px 0 30px;
	}
	
	.main-section-two h3 {
		margin: 0 10px 30px;
		font-size: 50px;
	}

	.main-section-two .red-button {
		margin: 15px auto 0;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-how-box {
		color: #546e7a;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		text-align: center;
		min-width: 210px;
		max-width: 450px;
		padding: 0;
		margin: 0 5px 10px;
		position: relative;
	}

	.main-how-box strong {
		width: 50px;
		height: 50px;
		margin: 0 15px 20px 20px;
		float: left;
		text-align: center;
		font-size: 30px;
		line-height: 50px;
	}

	.main-how-box p {
		text-align: left;
		margin: 0px 10px;
		padding: 12px 0 0 0;
		font-size: 20px;
		line-height: 23px;
	}
	
	.main-how-box:nth-child(2) p {
		padding: 0px 0 0 0;
	}
	
	.main-section-two .main-how-box:nth-child(1), .main-section-two .main-how-box:nth-child(2), .main-section-two .main-how-box:nth-child(3) {
		background: none;
	}
	
	.main-section-three {
		background: #26a4db;
		position: relative;
		padding: 45px 0 0px;
	}

	.main-section-three h3 {
		margin: 0;
		font-size: 45px;
		line-height: 52px;
	}
	
	.main-section-three .main-help-box:nth-child(1) {
		background: url(../img/main-help-box-border-vertical.png) center top no-repeat;
	}
	
	.main-section-three .main-help-box:nth-child(2) {
		background: url(../img/main-help-box-border-vertical.png) center top no-repeat, url(../img/main-help-box-border-vertical.png) center bottom no-repeat;
	}
	
	.main-help-box {
		min-height: inherit;
		padding: 30px 10px 20px;
	}

	.main-help-box h4 {
		margin: 0 0 15px 0;
		padding: 0;
		text-align: center;
		font-size: 25px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.main-section-three .main-help-box:nth-child(1) h4, .main-section-three .main-help-box:nth-child(2) h4, .main-section-three .main-help-box:nth-child(3) h4 {
		background: none;
	}
	
	.main-help-box p {
		padding: 0 10px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 400;
	}

	.main-section-four {
		position: relative;
		padding: 40px 0 20px;
	}

	.main-section-four h3 {
		margin: 0 0 30px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}
	
	.main-whom-box {
		position: relative;
		padding: 0 0 0 20px;
		margin: 0 10px 50px 0;
		min-height: 115px;
		border-left: 5px solid #26a4db;
	}

	.main-section-four .main-whom-box:nth-child(1) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(2) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(3) {
		background: none;
		margin-bottom: 10px;
	}

	.main-whom-box h4 {
		margin: 0 0 5px 0;
		color: #455a64;
		font-size: 30px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-whom-box p {
		margin: 0;
		color: #546e7a;
		font-size: 21px;
		font-family: 'Conv_FuturaBookC', 'Roboto', sans-serif;
	}

	.main-section-four .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-five {
		position: relative;
		padding:45px 0 20px;
	}

	.main-section-five h3 {
		margin: 0 0 0px 0;
		font-size: 50px;
		line-height: 52px;
	}

	.main-beginners-box {
		position: relative;
		color: #FFF;
		margin-bottom: 30px;
	}
	
	.main-beginners-box ul li {
		position: relative;
		display: block;
		min-height: 92px;
		padding: 15px 0 0 92px;
		margin: 0 0 10px 0;
		font-size: 21px;
		line-height: 23px;
	}
	
	.main-section-five .main-beginners-box ul li:nth-child(1), .main-section-five .main-beginners-box ul li:nth-child(2), .main-section-five .main-beginners-box ul li:nth-child(3), .main-section-five .main-beginners-box ul li:nth-child(4), .main-section-five .main-beginners-box ul li:nth-child(5) {
		background-size: 72px;
		background-position: 0px 30%;
	}
		
	.main-professionals-box h4 {
		text-align: center;
		margin: 0 0 35px 0;
		font-size: 40px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-professionals-box h4 span {
		margin: 5px 0 0 0;
		display: block;
		font-size: 26px;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	.main-professionals-benefit-title {
		font-size: 30px;
	}
	
	.main-professionals-benefit:nth-child(3) .main-professionals-benefit-reports i {
		width: 20%;
	}

	.main-professionals-benefit:nth-child(4) .main-professionals-benefit-reports i {
		width: 15%;
	}
	
	.main-section-five .red-button {
		width: 280px;
		margin: -50px auto 0;
		line-height: 50px;
		font-size: 19px;
	}

	.main-section-six {
		position: relative;
		padding: 50px 0 0;
	}

	.main-section-six h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 60px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}

	.main-reviews {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-reviews-name {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.main-reviews-name span {
		color: #78909c;
	}

	.main-reviews p {
		font-size: 21px;
		line-height: 25px;
	}

	.main-section-six .red-button {
		margin: -10px auto;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-seven {
		padding: 30px 0 20px;
	}

	.main-section-seven h3 {
		padding: 30px 0;
		margin: 0 0 30px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #FFF;
		text-align: center;
		background: #26a4db;
	}

	.main-faq {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-faq-question {
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		position: relative;
		color: #26a4db;
		font-size: 28px;
	}

	.main-faq-answer {
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
		position: relative;
		color: #455a64;
		font-size: 21px;
	}

	.main-faq-answer p {
		margin: 0 0 0 37px;
	}

	.main-section-seven .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}

	/* Content Page */
	
	.content-section-one {
		padding: 40px 0 20px;
	}

	.content-section-one h1 {
		margin: 100px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.content-section-one h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	.content-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	/* Content Page End*/

	/* Price Page */
	.price-section-one {
		background: #1aa4d1;
		position: relative;
		padding: 40px 0 20px;
	}

	.price-section-one h1 {
		margin: 100px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.price-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}

	.monthly-plans-table {
		margin: 40px 0 0 0;
		font-family: 'Conv_FuturaExtended', sans-serif;
	}

	.monthly-plans-table thead tr th {
		border-bottom: none;
		padding: 10px 5px;
		letter-spacing: -1px;
		color: #70631d;
		text-align: center;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 27px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.monthly-plans-table thead tr th span {
		display: block;
		font-size: 21px;
	}

	.monthly-plans-table thead tr th span i {
		font-style: normal;
		font-family: 'Conv_FuturaExtended', sans-serif;
		font-weight: 400;
		text-transform: lowercase;
		font-size: 15px;
		letter-spacing: 0px;
	}

	.monthly-plans-table thead tr th:nth-child(2) {
		background: #fff176;
	}

	.monthly-plans-table thead tr th:nth-child(3) {
		background: #ffeb3b;
	}

	.monthly-plans-table thead tr th:nth-child(4) {
		background: #fdd835;
	}

	.monthly-plans-table tbody tr td {
		border: none;
		padding: 15px 20px;
		font-size: 17px;
		line-height: 19px;
		text-align: center;
		vertical-align: middle;
	}

	.monthly-plans-table tbody tr td:nth-child(1) {
		text-align: left;
	}

	.monthly-plans-table tfoot tr td {
		border: none;
		text-align: center;
		position: relative;
		padding-top: 20px;
	}

	.monthly-plans-table tfoot tr td a {
		background: #ffa800;
		border: 1px solid #ffb21e;
		color: #FFF;
		padding: 5px 15px;
		width: inherit;
		font-size: 15px;
		display: block;

		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.monthly-plans-table tfoot tr td a:hover {
		text-decoration: none;
		background: #ffb21e;
	}

	.monthly-plans-table tfoot tr td:nth-child(2) a {
		background: #54bc75;
		border: 1px solid #68c485;
	}

	.monthly-plans-table tfoot tr td:nth-child(2) a:hover {
		background: #68c485;
	}
	
		.monthly-plans-table tfoot tr td {
			vertical-align: middle;
		}
	
	.quote-holder {
		position: relative;
		margin: 50px 0 0px;
	}

	.quote-holder p {
		font-size: 19px;
		line-height: 25px;
		color: #455a64;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	#quote-carousel .carousel-control {
		top: 20%;
	}


	/* Price Page End */
}

@media (min-width: 768px) and (max-width: 991px) {
	.vertical-center {
		min-height: 600px;
	}

	.main-section-one {
		padding: 80px 0 0 0;
	}

	.main-section-one h1 {
		font-size: 40px;
		line-height: 55px;
		margin: 0;
	}

	.main-section-one h1 span {
		display: block;
	}

	.main-section-one h2 {
		text-align: center;
		font-family: 'Conv_FuturaExtended', 'Roboto', sans-serif;
		font-size: 30px;
		color: #37474f;
		margin: 20px 0 0 0;
	}
	
	.main-section-one-input-group {
		position: relative;
		margin: 70px 0 100px;
		text-align: center;
	}
	
	.vertical-center .main-section-one-input-group {
		margin: 40px 0 0;
	}
	
	.main-section-one-input-group button {
		display: block;
		width: 280px;
		margin: 20px auto 0;
		line-height: 50px;
		font-size: 19px;
	}

	.vertical-center .main-section-one-input-group button {
		margin: 40px auto 0;
		display: block;
	}

	.main-section-two {
		margin: 50px 0 60px;
	}
	
	.main-section-two h3 {
		margin: 0 0 40px 0;
		font-size: 50px;
	}

	.main-section-two .red-button {
		margin: 35px auto 0;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-how-box strong {
		width: 80px;
		height: 80px;
		font-size: 40px;
		line-height: 80px;
	}

	.main-how-box p {
		margin: 25px 10px 0;
		font-size: 20px;
		line-height: 23px;
	}
	
	.main-section-two-blue-line {
		width: 90%;
		height: 4px;
		background: #26a4db;
		position: absolute;
		left: 5%;
		right: 5%;
		top: 155px;
	}

	.main-section-two .main-how-box:nth-child(1) {
		background-size: 150px 50px;
	}

	.main-section-two .main-how-box:nth-child(2) {
		background: url(../img/main-how-box-two.png) center 15px no-repeat;
		background-size: 190px 104px;
	}
	
	.main-section-three {
		padding: 45px 0 0;
	}
	
	.main-section-three h3 {
		margin: 0 0 40px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 0px;
		line-height: 62px;
		color: #FFF;
		text-align: center;
	}

	.main-section-three h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
	}
	
	.main-section-three .main-help-box:nth-child(2) {
		background: url(../img/main-help-box-border.png) left top no-repeat, url(../img/main-help-box-border.png) right top no-repeat;
		background-size: 6px 213px;
	}
	
	.main-help-box {
		min-height: 233px;
		padding: 10px 10px 0;
	}

	.main-help-box h4 {
		margin: 0 0 15px 0;
		padding: 0;
		text-align: center;
		font-size: 25px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.main-section-three .main-help-box:nth-child(1) h4, .main-section-three .main-help-box:nth-child(2) h4, .main-section-three .main-help-box:nth-child(3) h4 {
		background: none;
	}
	
	.main-help-box p {
		padding: 0 10px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 400;
	}

	.main-section-four {
		position: relative;
		padding: 50px 0 20px;
	}

	.main-section-four h3 {
		margin: 0 0 50px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}
	
	.main-whom-box {
		position: relative;
		padding: 0 0 0 20px;
		margin: 0 10px 50px 0;
		min-height: 115px;
		border-left: 5px solid #26a4db;
	}

	.main-section-four .main-whom-box:nth-child(1) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(2) {
		background: none;
	}

	.main-section-four .main-whom-box:nth-child(3) {
		background: none;
		margin-bottom: 10px;
	}

	.main-whom-box h4 {
		margin: 0 0 5px 0;
		color: #455a64;
		font-size: 30px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-whom-box p {
		margin: 0;
		color: #546e7a;
		font-size: 21px;
		font-family: 'Conv_FuturaBookC', 'Roboto', sans-serif;
	}

	.main-section-four .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-five {
		position: relative;
		padding:45px 0 20px;
	}

	.main-section-five h3 {
		margin: 0 0 0px 0;
		font-size: 45px;
		line-height: 52px;
	}

	.main-beginners-box {
		position: relative;
		color: #FFF;
	}
	
	.main-beginners-box ul li {
		position: relative;
		display: block;
		min-height: 92px;
		padding: 15px 0 0 92px;
		margin: 0 0 10px 0;
		font-size: 21px;
		line-height: 23px;
	}
	
	.main-section-five .main-beginners-box ul li:nth-child(1), .main-section-five .main-beginners-box ul li:nth-child(2), .main-section-five .main-beginners-box ul li:nth-child(3), .main-section-five .main-beginners-box ul li:nth-child(4), .main-section-five .main-beginners-box ul li:nth-child(5) {
		background-size: 72px;
		background-position: 0px 30%;
	}
		
	.main-professionals-box h4 {
		text-align: center;
		margin: 0 0 35px 0;
		font-size: 40px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.main-professionals-box h4 span {
		margin: 5px 0 0 0;
		display: block;
		font-size: 26px;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	.main-professionals-benefit-title {
		font-size: 30px;
	}
	
	.main-professionals-benefit:nth-child(3) .main-professionals-benefit-reports i {
		width: 20%;
	}

	.main-professionals-benefit:nth-child(4) .main-professionals-benefit-reports i {
		width: 15%;
	}
	
	.main-section-five .red-button {
		width: 280px;
		margin: -20px auto 0;
		line-height: 50px;
		font-size: 19px;
	}

	.main-section-six {
		position: relative;
		padding: 50px 0 0;
	}

	.main-section-six h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 60px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}

	.main-reviews {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-reviews-name {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.main-reviews-name span {
		color: #78909c;
	}

	.main-reviews p {
		font-size: 21px;
		line-height: 25px;
	}

	.main-section-six .red-button {
		margin: -10px auto;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-seven {
		padding: 30px 0 20px;
	}

	.main-section-seven h3 {
		padding: 30px 0;
		margin: 0 0 30px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #FFF;
		text-align: center;
		background: #26a4db;
	}

	.main-faq {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-faq-question {
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		position: relative;
		color: #26a4db;
		font-size: 28px;
	}

	.main-faq-answer {
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
		position: relative;
		color: #455a64;
		font-size: 21px;
	}

	.main-faq-answer p {
		margin: 0 0 0 37px;
	}

	.main-section-seven .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}

	/* Content Page */

	.content-section-one {
		padding: 30px 0 20px;
	}

	.content-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.content-section-one h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	
	.content-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	/* Content Page End*/

	/* Price Page */
	.price-section-one {
		background: #1aa4d1;
		position: relative;
		padding: 30px 0 20px;
	}

	.price-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.price-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}

	.monthly-plans-table {
		margin: 40px 0 0 0;
		font-family: 'Conv_FuturaExtended', sans-serif;
	}

	.monthly-plans-table thead tr th {
		border-bottom: none;
		padding: 10px 5px;
		letter-spacing: -1px;
		color: #70631d;
		text-align: center;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 27px;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
	}

	.monthly-plans-table thead tr th span {
		display: block;
		font-size: 21px;
	}

	.monthly-plans-table thead tr th span i {
		font-style: normal;
		font-family: 'Conv_FuturaExtended', sans-serif;
		font-weight: 400;
		text-transform: lowercase;
		font-size: 15px;
		letter-spacing: 0px;
	}

	.monthly-plans-table thead tr th:nth-child(2) {
		background: #fff176;
	}

	.monthly-plans-table thead tr th:nth-child(3) {
		background: #ffeb3b;
	}

	.monthly-plans-table thead tr th:nth-child(4) {
		background: #fdd835;
	}

	.monthly-plans-table tbody tr td {
		border: none;
		padding: 15px 20px;
		font-size: 17px;
		line-height: 19px;
		text-align: center;
	}

	.monthly-plans-table tbody tr td:nth-child(1) {
		text-align: left;
	}

	.monthly-plans-table tfoot tr td {
		border: none;
		text-align: center;
		position: relative;
		padding-top: 20px;
	}

	.monthly-plans-table tfoot tr td a {
		background: #ffa800;
		border: 1px solid #ffb21e;
		color: #FFF;
		padding: 5px 15px;
		width: 150px;
		font-size: 15px;

		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;

		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.monthly-plans-table tfoot tr td a:hover {
		text-decoration: none;
		background: #ffb21e;
	}

	.monthly-plans-table tfoot tr td:nth-child(2) a {
		background: #54bc75;
		border: 1px solid #68c485;
	}

	.monthly-plans-table tfoot tr td:nth-child(2) a:hover {
		background: #68c485;
	}
	
	.quote-holder {
		position: relative;
		margin: 50px 0 0px;
	}

	.quote-holder p {
		font-size: 19px;
		line-height: 25px;
		color: #455a64;
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
	}
	
	#quote-carousel .carousel-control {
		top: 20%;
	}


	/* Price Page End */
	


	
	
	
	
	
	
	
	
	
	
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.content-section-one {
		padding: 30px 0 20px;
	}

	.content-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.content-section-one h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	
	.content-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	/* Content Page End*/

	/* Price Page */
	.price-section-one {
		background: #1aa4d1;
		position: relative;
		padding: 30px 0 20px;
	}

	.price-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.price-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}

	
	
	
	
	
	
	
	
	
	
	.main-section-one {
		padding: 100px 0 0 0;
	}

	.main-section-one h1 {
		text-transform: uppercase;
		text-align: center;
		font-family: 'Conv_FuturaExtended', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 60px;
		margin: 0;
	}

	.main-section-one h1 span {
		display: block;
	}

	.main-section-one h2 {
		text-align: center;
		font-family: 'Conv_FuturaExtended', 'Roboto', sans-serif;
		font-size: 40px;
		color: #37474f;
		margin: 30px 0 0 0;
	}
	
	.main-section-one-input-group button {
		font-size: 19px;
	}

	.main-section-one-input-group {
		position: relative;
		margin: 70px 0 100px;
		text-align: center;
	}
	
	.vertical-center {
		min-height: 550px;
	}
	
	.vertical-center .main-section-one {
		padding: 150px 0 0 0;
	 }

	.vertical-center .main-section-one-input-group {
		margin: 70px 0 30px;
	}
	
	.main-tab {
		height: 286px;
		background: url(../img/main-tab.png) center 25px no-repeat;
		background-size: 526px 261px;
		font-family: 'Conv_AXUREHANDWRITING', 'Roboto', sans-serif;
	}

	.main-tab-bottom {
		height: 172px;
		background: url(../img/main-tab-bottom.png) center top no-repeat;
		background-size: 628px 172px;
	}
	
	.main-tab .p-manage {
		background: url(../img/p-manage.png) right top no-repeat;
		padding: 60px 50px 0 0;
		margin: 0 0 0 30px;
		width: 210px;
	}

	.main-tab .p-backlink {
		background: url(../img/p-backlink.png) 30px top no-repeat;
		padding: 120px -10px 0 0px;
		margin: -60px 20px 0 0;
		float: right;
	}

	.main-tab .p-spy {
		background: url(../img/p-spy.png) 70px bottom no-repeat;
		padding: 0 40px 50px 0px;
		margin: 30px 0 0 -20px;
		width: 280px;
		text-align: right;
	}
		
	.main-section-two {
		margin: 50px 0 60px;
	}
	
	.main-section-two h3 {
		margin: 0 0 40px 0;
		font-size: 50px;
	}

	.main-section-two .red-button {
		margin: 35px auto 0;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-three {
		padding: 45px 0 0;
	}
	
	.main-section-three .main-help-box:nth-child(2) {
		background: url(../img/main-help-box-border.png) left top no-repeat, url(../img/main-help-box-border.png) right top no-repeat;
		background-size: 6px 213px;
	}

	.main-section-three h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #FFF;
		text-align: center;
	}
	
	.main-help-box h4 {
		margin: 0 0 15px 0;
		padding: 0 0 0 75px;
		font-size: 25px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.main-section-three .main-help-box:nth-child(1) h4, .main-section-three .main-help-box:nth-child(2) h4, .main-section-three .main-help-box:nth-child(3) h4 {
		background-size: 64px 56px;
	}
	
	.main-help-box p {
		padding: 0 0 0 20px;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 400;
	}

	.main-section-four {
		position: relative;
		padding: 60px 0 20px;
	}

	.main-section-four h3 {
		margin: 0 0 50px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}
	
	.main-whom-box {
		position: relative;
		padding: 0 0 0 150px;
		margin-bottom: 50px;
		min-height: 115px;
	}

	.main-section-four .main-whom-box:nth-child(1), .main-section-four .main-whom-box:nth-child(2), .main-section-four .main-whom-box:nth-child(3) {
		background-size: 123px 198px;
	}

	.main-whom-box h4 {
		margin: 5px 0 5px 0;
		font-size: 30px;
	}

	.main-whom-box p {
		font-size: 23px;
	}

	.main-section-four .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-five {
		position: relative;
		padding:55px 0 20px;
	}

	.main-section-five h3 {
		margin: 0 0 20px 0;
		font-size: 50px;
		line-height: 52px;
	}

	.main-beginners-box {
		position: relative;
		color: #FFF;
	}
	
	.main-beginners-box ul li {
		display: block;
		min-height: 112px;
		padding: 8px 0 0 112px;
		font-size: 21px;
		line-height: 23px;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
	}
	
	.main-section-five .main-beginners-box ul li:nth-child(1), .main-section-five .main-beginners-box ul li:nth-child(2), .main-section-five .main-beginners-box ul li:nth-child(3), .main-section-five .main-beginners-box ul li:nth-child(4), .main-section-five .main-beginners-box ul li:nth-child(5) {
		background-size: 92px;
	}
		
	.main-professionals-box h4 {
		margin: 0 0 35px 0;
	}
	
	.main-professionals-benefit-title {
		font-size: 30px;
	}

	.main-section-five .red-button {
		width: 280px;
		margin: -20px auto 0;
		line-height: 50px;
		font-size: 19px;
	}

	.main-section-six {
		position: relative;
		padding: 50px 0 0;
	}

	.main-section-six h3 {
		margin: 0 0 20px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 60px;
		line-height: 52px;
		color: #546e7a;
		text-align: center;
	}

	.main-reviews {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-reviews-name {
		font-size: 28px;
		margin-bottom: 5px;
	}

	.main-reviews-name span {
		color: #78909c;
	}

	.main-reviews p {
		font-size: 21px;
		line-height: 25px;
	}

	.main-section-six .red-button {
		margin: 0 auto;
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}
	
	.main-section-seven {
		padding: 30px 0 20px;
	}

	.main-section-seven h3 {
		padding: 30px 0;
		margin: 0 0 30px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 50px;
		line-height: 52px;
		color: #FFF;
		text-align: center;
		background: #26a4db;
	}

	.main-faq {
		position: relative;
		margin: 0 0 20px 0;
	}

	.main-faq-question {
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		position: relative;
		color: #26a4db;
		font-size: 28px;
	}

	.main-faq-answer {
		font-family: 'Conv_FuturaFuturisC-Italic', 'Roboto', sans-serif;
		position: relative;
		color: #455a64;
		font-size: 21px;
	}

	.main-faq-answer p {
		margin: 0 0 0 37px;
	}

	.main-section-seven .red-button {
		width: 280px;
		line-height: 50px;
		font-size: 19px;
	}

	
	

	


}
 
@media (min-width: 1200px) {
	
	
	.content-section-one {
		padding: 10px 0 30px;
	}
	
	.content-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.content-section-one h2 {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	
	.content-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	/* Content Page End*/

	/* Price Page */
	.price-section-one {
		background: #1aa4d1;
		position: relative;
		padding: 10px 0 30px;
	}

	.price-section-one h1 {
		margin: 70px 0 15px 0;
		font-family: 'Conv_FuturaDemiC', 'Roboto', sans-serif;
		font-size: 40px;
		color: #eceff1;
	}

	.price-section-one p {
		color: #eceff1;
		margin: 0;
		font-family: 'Conv_futuralightc', 'Roboto', sans-serif;
		font-size: 25px;
		line-height: 30px;
	}
	
	.vertical-center {
		min-height: 700px;
	}
	
	.vertical-center .main-section-one {
		padding: 200px 0 0 0;
	 }

	.vertical-center .main-section-one-input-group {
		position: relative;
		margin: 70px 0 50px;
		text-align: center;
		height: 54px;
	}
	
	
	
	
	
	
	
	
	
}






